@charset "UTF-8";
 
* { /* Muda a fonte das letras */
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    
    /*Cria um degradê na pagina */background-image: linear-gradient(to left, #658C11 45%, #F2F2F2 );
}

main{
    /*imagem de fundo*/
    background-color: rgb(255, 255, 255);
    /*Largura */
    width: 600px;
    /*Acolchoamento */
    padding: 10px;
    /*Centralização Automatica*/
    margin: auto;
    /*Borda arredondada*/
    border-radius: 2%;
    /*Sombra da borda*/
    box-shadow: 6px 6px 16px #232e13 ;
}
h1{ 
    /*Cor do texto */
    color: #557314;
    /*Centralizando texto: */
    text-align: center;
    /*Sombra do texto */
    text-shadow: 1px 1px 2px #1e27106e;


}
h2{
    color: #77A612;
}
p{
    /* Deixa o texto justificado */text-align: justify;
}
