@charset "UTF-8";
/* 
    Em HTML tudo que é id, em CSS vira #
    em HTML class, em CSS é .
*/

body{
    background-color: antiquewhite;
    font-family: Verdana, Tahoma, sans-serif;
}

h1#site{
    background-color: rgb(0, 59, 0);
    text-align: center;
}

h1{
    color: rgb(65, 153, 65);
}

h2{
    color: darkgreen;
}